<h1>Article</h1>
<p>
	<%= link_to "List articles", articles_path %>
</p>
<p>
	<%= link_to "Edit article", edit_article_path(@article) %>
</p>


<p>
	Title: <%= @article.title %>
</p>
<p>
	Description: <%= @article.description %>
</p>